<%= form_for(@project_requirement) do |f| %>
  <% if @project_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_requirement.errors.count, "error") %> prohibited this project_requirement from being saved:</h2>

      <ul>
      <% @project_requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Name</h3>
  <%= f.text_field :name %>

  <h3>Description</h3>
  <%= f.text_area :description, size: "50x7" %>

  <div id="someIsh">
    <h3>What instruments do you want on your demo?</h3>
  </div>

  <script type="text/javascript">instrument_selection_made();</script>

  <br /><br />

  <h3>Recording Environment:</h3>
  <% # NOTE: the '0' in options_for_select defines its default value: %>
  <%= select_tag(:project_requirement["soundproofness"], options_for_select(Soundproofness::ORDERED.collect{ |x| [x, x.to_i] }, Soundproofness[0]), size: Soundproofness::ORDERED.size) %>

  <br /><br />

  <h3>How long will it take?</h3>
  From start to finish! Be realistic. If you say 3 hours, people might have to leave right at the end of 3 hours.<br />
  <!-- <?php // (This'll be better as a slider - look into jquery ones)<br /> ?> -->

  <%= select_tag(:project_requirement["duration"], options_for_select(@possible_durations.map{ |a| [ a[:text], a[:value] ] }, 4), size: @possible_durations.size) %>

  <select name="project_requirement[duration]" size="<%= @possible_durations.size %>">
  <% @possible_durations.each do |duration| %>
    <option value="<%= duration[:value] %>" <%= "selected" if duration[:value] == 4 %> ><%= duration[:text] %></option>
  <% end %>
  <select>
  <br />

  <input type="submit" value="Submit"> Please remember that creating a project does not gurantee its requirements will be fulfilled. We will try out best.
<% end %>
