<h1>My Projects</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_requirements.each do |project_requirement| %>
  <tr>
    <td><%= project_requirement.name %></td>
    <td><%= truncate(project_requirement.description, length: 30) %></td>
    <td><%= link_to 'Show', project_requirement %></td>
    <td><%= link_to 'Edit', edit_project_requirement_path(project_requirement) %></td>
    <td><%= link_to 'Destroy', project_requirement, confirm: "Are you sure you want to delete #{project_requirement.name}? This action cannot be undone.", method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a Project', new_project_requirement_path %>