<p id="notice"><%= notice %></p>

<h1><%= @project_requirement.name %></h1>
<p><%= @project_requirement.description %></p>
<p>Requires soundlevel to be "<%= @project_requirement.soundproofness %>."</p>
<h4>Required Instruments:</h4>
<%= "(none)" if @project_requirement.instrument_requirements.empty? %>
<table>
	<% reqs = @project_requirement.instrument_requirements.dup %>
	<% until reqs.empty? %>
		<% name = reqs.first.instrument_name %>
		<% 
			count = 0
			reqs.dup.each do |req|
				if req.instrument_name == name 
					count += 1 
					reqs.delete req
				end
			end
		%>
		<tr>
			<td><%= name %></td>
			<td><%= count %></td>
		</tr>
	<% end %>
</table>


<%= link_to 'Edit', edit_project_requirement_path(@project_requirement) %> |
<%= link_to 'Back', project_requirements_path %>
