<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <h4>Enter your name</h4>
    <%= f.text_field :name, placeholder: "Bob Jones", size: 20 %>

    <h4>Add a short description of yourself</h4>
    <textarea columns="50" rows="8" name="bio" ></textarea>

    <h4>Choose a username</h4>
    <input type="text" name="username" placeholder="masterjones123">

    <h4>Enter an email address</h4>
    <input type="text" name="email" placeholder="bob.jones@example.com" >

    <h4>Choose a password</h4>
    <input type="text" name="password" >

    <%= f.submit %>
  </div>
<% end %>
